* {
    box-sizing: border-box;
}

html {
    font-family: 'circe';
    color: rgba(255, 255, 255, 1) ;
}

img {
    display: inline-block;
}

body {
    background-color: rgba(23, 23, 23, 1);
    background-image: url(../img/header-bg.jpeg);
    background-position: center;
    background-attachment: fixed;
}

section {
    background-image: url(../img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: local;
}


.wrapper {
    max-width: 1460px;
    margin: auto;
    padding-top: 50px;
}

.navbar {
    display: flex;
    padding-top: 46px;
    padding-bottom: 100px;
}

ul li:last-child {
    margin-left: auto;
}

.feedbacklink {
    text-decoration: none;
    color: rgba(228, 181, 100, 1);
    border: 1px solid rgba(228, 181, 100, 1);
    padding: 12px 25px 12px 25px;
    margin-left: 40px;
}

.feedbacktxt {
    font-family: 'circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

li span {
    font-family: 'circe';
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

li span:first-child {
    color: rgba(214, 175, 118, 1);
}

h2 {
    font-family: 'circe';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.txtone {
    font-family: 'circe';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-right: 280px;
    margin-top: 41px;
    margin-bottom: 41px;
}

.grid-contenir-one {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 470px 470px;
    grid-gap: 25px;
    margin-bottom: 161px;
    padding-bottom: 100px;
}

.one-grid-element1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgba(99, 79, 44, 1);
}

.one-grid-element2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgba(180, 163, 133, 1);
}
.one-grid-element3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgba(228, 181, 100, 1);
}
.one-grid-element4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgba(99, 90, 74, 1);
}
.one-grid-element5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgba(176, 140, 77, 1);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
}

.grid-contenir-one > div:nth-child(2) {
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
}

.grid-contenir-two {
    margin-top: 95px;
    display: grid; 
    grid-template-areas: "one two three"
                         "one two six"
                         "four two six"
                         "four five six"
                         "four five seven";
    grid-gap: 25px;
    margin-bottom: 180px;
    padding-bottom: 100px;
}

.two-grid-element1 {
    grid-area: one;
    height: 315px;
    background-color: rgba(14, 14, 14, 1);
}

.two-grid-element2 {
    grid-area: two;
    height: 440px;
    background-color: rgba(36, 36, 36, 1);
}

.two-grid-element3 {
    grid-area: three;
    height: 255px;
    background-color: rgba(31, 31, 31, 1);
}

.two-grid-element4 {
    grid-area: four;
    height: 560px;
    background-color: rgba(31, 31, 31, 1);
}

.two-grid-element5 {
    grid-area: five; 
    height: 435px;
    background-color: rgba(228, 181, 100, 1);
    color: rgba(0, 0, 0, 1);
}

.two-grid-element6 {
    grid-area: six;
    height: 315px;
    background-color: rgba(14, 14, 14, 1);
}

.two-grid-element7 {
    grid-area: seven;
    height: 280px;
    background-color: rgba(10, 9, 9, 1); 
}

.txt-padding {
   padding-top: 45px;
   padding-left: 50px;

}
.lighttxt {
    font-family: 'circe';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.boldtxt {
    font-family: 'circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;;
}

.client-background {
    background-color: rgba(14, 14, 14, 1);
    padding-bottom: 100px;
}

.flex-contenir {
    display: flex;
}

.allprojects {
    margin-left: auto;
    color: rgba(228, 181, 100, 1);
    border: 1px solid rgba(228, 181, 100, 1);
    font-family: 'circe';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 40px 10px 40px;

}

.allprojects:hover {
    cursor: pointer;
}

.grid-contenir-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 390px;
    margin-top: 70px;
}

.three-grid-element1 {
    background-color: rgba(99, 79, 44, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-grid-element2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgcontenirone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(232, 210, 171, 1) ;
    width: 100%;
    height: 100%;
}

.three-grid-element3 {
    background-color: rgba(228, 181, 100, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-grid-element4 {
    background-color: rgba(99, 90, 74, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-grid-element5 {
    background-color: rgba(176, 140, 77, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-grid-element6 {
    background-color: rgba(99, 79, 44, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcontenirtwo {
    display: inline-block;
    position: relative;
    height: 53px;
    width: 120px;
}

.vector1 {
    position: absolute;
    left: 0%;
    right: 56.5%;
    top: 0.95%;
    bottom: 0.95%;    
}

.vector2 {
    position: absolute;
    left: 6.76%;
    right: 81.28%;
    top: 24.87%;
    bottom: 42.48%;
}

.vector3 {
    position: absolute;
    left: 19.83%;
    right: 69.74%;
    top: 33.01%;
    bottom: 42.48%; 
}

.vector4 {
    position: absolute;
    left: 31.03%;
    right: 61.89%;
    top: 26.26%;
    bottom: 42.48%;
}

.vector5 {
    position: absolute;
    left: 40.39%;
    right: 56.51%;
    top: 21.96%;
    bottom: 43.01%;
}

.vector6 {
    position: absolute;
    left: 45.28%;
    right: 42.55%;
    top: 24.87%;
    bottom: 42.47%;
}

.vector7 {
    position: absolute;
    left: 59.71%;
    right: 34.2%;
    top: 33.01%;
    bottom: 42.94%;  
}

.vector8 {
    position: absolute;
    left: 66.64%;
    right: 23%;
    top: 33.01%;
    bottom: 42.48%;    
}

.vector9 {
    position: absolute;
    left: 78.5%;
    right: 12.16%;
    top: 33.47%;
    bottom: 42.47%;   
}

.vector10 {
    position: absolute;
    left: 90.07%;
    right: 0%;
    top: 33.01%;
    bottom: 35.35%;    
}

footer {
    height: 240px;
}

@font-face {
    font-family: 'circe';
    src: url(../fonts/circe/Circe-Regular.woff2) format('woff2');
}
